<mat-card fxLayoutGap="55px">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
        <mat-icon color="accent">mail</mat-icon>
    </div>
    <mat-card-title>Title: {{survey.title}}</mat-card-title>
    <mat-card-subtitle>Subject: {{survey.subject}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{survey.body}}</p>
  </mat-card-content>
  <div class="card-response" fxLayout fxLayoutGap="35px">
    <span [matBadge]="survey.yes" matBadgeOverlap="false">Yes</span>
    <span matBadgeColor="warn" [matBadge]="survey.no" matBadgeOverlap="false">No</span>
  </div>
</mat-card>
